extends ../layout

block content
	.content
		.courses_block
			.title
				h2= item.title
			//- .scroll_item= item.description
			|Выберите дату:
			br
			br
			form.f3(action='', method='post')
				select(name='year')
					option &nbsp;&nbsp;&nbsp;Год
					- for (var i in item.schedule)
						- if (item.schedule[i].year)
							option(value=item.schedule[i].year)= item.schedule[i].year
				p ▼
				|&nbsp;&nbsp;&nbsp;&nbsp;
				select(name='month')
					option Месяц
					- for (var i in item.schedule)
						- if (item.schedule[i].month)
							option(value=item.schedule[i].month)= item.schedule[i].month
				p ▼
				|&nbsp;&nbsp;&nbsp;&nbsp;
				select(name='day')
					option &nbsp;День
					- for (var i in item.schedule)
						- if (item.schedule[i].day)
							option(value=item.schedule[i].day)= item.schedule[i].day
				p ▼
				br
				br
				br
				|Итоговая цена:
				br
				br
				.price
					b= item.price + ' Рублей'
				br
				|Нажимая на кнопку Вы принимаете...
				br
				.submit_btn
					a.submit_btn_text(href='#') Отправить

	//- h2= item.title
	//- img(src=item.img)
	//- br
	//- br
	//- b= item.description
	//- form(id='e_form', action='/auth/view/' + item._id, method='post')
	//- 	input(type='hidden', name='edit', value=item._id) 
	//- form(id='d_form', action='/auth/view/' + item._id, method='post')
	//- 	input(type='hidden', name='delete', value=item._id)
	//- a(class='edit', href='#') Редактировать
	//- |&nbsp;| 
	//- a(class='delete', href='#') Удалить
	//- br
	//- br