extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Добавить
			form(action="/auth/add", method="post", enctype="multipart/form-data")
				|Название:
				br
				input(type="text", name="title")
				br
				br
				//- |Описание:
				//- br
				//- textarea(name="description", cols="40", rows="3")
				//- br
				//- br
				|Цена:
				br
				input(type="text", name="price", value='1000')
				br
				br
				|Категория:
				br
				select(name='cathegory')
					option Категория
					option(value='fon') 1. Проблемы фонетики
					option(value='methods') 2. Методика обучения по курсу
					option(value='lessons') 3. Занятия по выбранным урокам курса
					option(value='translate') 4. Как правильно по-русски
					option(value='country') 5. Разговорная практика				
				p ▼
				br
				br
				//- |Дата:
				//- br
				//- select(name='year')
				//- 	option &nbsp;&nbsp;&nbsp;Год
				//- 	option(value='2013') 2013
				//- 	option(value='2014') 2014
				//- p ▼
				//- |&nbsp;&nbsp;&nbsp;&nbsp;
				//- select(name='month')
				//- 	option Месяц
				//- 	- for (var i = 1; i<13; i++) {
				//- 		if (i<=9)
				//- 			option(value='0'+i) 0#{i}
				//- 		else
				//- 			option(value=i) #{i}
				//- 	- }
				//- p ▼
				//- |&nbsp;&nbsp;&nbsp;&nbsp;
				//- select(name='day')
				//- 	option &nbsp;День
				//- 	- for (var i = 1; i<32; i++) {
				//- 		if (i<=9)
				//- 			option(value='0'+i) 0#{i}
				//- 		else
				//- 			option(value=i) #{i}
				//- 	- }
				//- p ▼
				br
				br
				input(type="submit", value="Добавить")