extends ../layout

block content
	.content
		.courses_block
			form(action="/auth/add", method="post", enctype="multipart/form-data")
				|Название:
				br
				input(type="text", name="title")
				br
				br
				|Описание:
				br
				textarea(name="description", cols="40", rows="3")
				br
				br
				|Цена:
				br
				input(type="text", name="price")
				br
				br
				|Категория:
				br
				select(name='cathegory')
					option Категория
					option(value='one') One
					option(value='two') Two
					option(value='three') Three
				p ▼
				br
				br
				|Дата:
				br
				select(name='year')
					option &nbsp;&nbsp;&nbsp;Год
					option(value='2013') 2013
					option(value='2014') 2014
				p ▼
				|&nbsp;&nbsp;&nbsp;&nbsp;
				select(name='month')
					option Месяц
					- for (var i = 1; i<13; i++) {
						if (i<=9)
							option(value='0'+i) 0#{i}
						else
							option(value=i) #{i}
					- }
				p ▼
				|&nbsp;&nbsp;&nbsp;&nbsp;
				select(name='day')
					option &nbsp;День
					- for (var i = 1; i<32; i++) {
						if (i<=9)
							option(value='0'+i) 0#{i}
						else
							option(value=i) #{i}
					- }
				p ▼
				br
				br
				input(type="submit", value="Добавить")