extends ../layout

block content
	.content
		.courses_block
			.title
				h2 Добавить в расписание
			|Курс:
			br
			b= course.title
			br
			br
			br
			form(action="/auth/schedule/"+course._id, method="post", enctype="multipart/form-data")
				|Дата:
				br
				select(name='year')
					option &nbsp;&nbsp;&nbsp;Год
					option(value='2013') 2013
					option(value='2014') 2014
				p ▼
				|&nbsp;&nbsp;&nbsp;&nbsp;
				select(name='month')
					option Месяц
					- for (var i = 1; i<13; i++) {
						if (i<=9)
							option(value='0'+i) 0#{i}
						else
							option(value=i) #{i}
					- }
				p ▼
				|&nbsp;&nbsp;&nbsp;&nbsp;
				select(name='day')
					option &nbsp;День
					- for (var i = 1; i<32; i++) {
						if (i<=9)
							option(value='0'+i) 0#{i}
						else
							option(value=i) #{i}
					- }
				p ▼
				br
				br
				input(type="submit", value="Добавить")